$breakpoint-tablet: 768px;

.contactCard {
  position: fixed;
  display: grid;
  grid-template-columns: 1fr 2fr 0.1fr;
  max-width: 95vw;
  width: 35em;
  border-radius: 50px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow:
    20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;

  &__photo {
    background: #727272;
    width: 3em;
    height: 3em;
    margin-top: 1em;
    margin-left: .1em;
    margin-right: .7em;
    border-radius: 50%;

    @media (min-width: $breakpoint-tablet) {
      width: 8em;
      height: 8em;
      margin-left: 1.3em;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  &__details {
    margin-right: 10em;
    width: 100%;

    p {
      font-size: .9em;

      strong {
        margin-right: 1.2em;
      }
    }
  }
  
  &__closeButton {
    cursor: pointer;
    position: absolute;
    right: 3em;
    top: 1em;
    width: 2.5em;
    height: 2.5em;
    border: unset;
    border-radius: 50%;
    background: #e8e8e8;
    box-shadow:  20px 20px 60px #6d6d6d,
    -20px -20px 60px #ffffff;
    color: #646464;
  }
}
