$breakpoint-tablet: 768px;

.contactList {
  height: 100vh;

  &__title {
    font-family: Arial, helvetica, serif;
    color: #303030;
    text-align: center;
  }

  &__tab {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));

    &__keys {
      background: #dddddd;
      cursor: pointer;
      height: 2.7em;
      border: unset;
      border: 3px solid #cdcdcd;

      @media (min-width: $breakpoint-tablet) {
        border: unset;
        grid-template-columns: 1fr 1fr;
        border-top: 3px solid #cdcdcd;
        border-right: 2px solid #bfbfbf;
        border-radius: 0.9em 0.9em 0 0.9em;
      }

      &:focus {
        outline: 0;
        box-shadow: 0 0 1px 2px #666666;
        z-index: 1;
      }

      &-active {
        background: rgb(255,255,255);
        background: linear-gradient(0deg, #dddddd 0%, #dddddd 60%, #b0b0b0 100%);
      }

      &__text {
        font-size: 1.5em;
        margin: auto;

        sub {
          margin-left: 0.4em;
          font-size: 0.5em;
        }
      }
    }
  }

  &__loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__content {
    display: grid;
    margin: 4em;
    grid-template-columns: 1fr;

    @media (min-width: $breakpoint-tablet) {
      grid-template-columns: 1fr 1fr;
    }

    &__name {
      width: 90%;
      border: unset;
      border-bottom: 2px solid #c4c4c4;
      cursor: pointer;
      height: 3em;
      background: #dddddd;
    }
  }
}
