.contactList {
  width: 100vw;
  height: 100vh;

  &__tab {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45px, 1fr));

    &__keys {
      background: #dddddd;
      border: unset;
      border-top: 3px solid #bfbfbf;
      border-right: 2px solid #bfbfbf;
      border-radius: 0.9em 0.9em 0 0.9em;
      cursor: pointer;
      height: 2.7em;

      &:focus {
        outline: 0;
        box-shadow: 0 0 1px 2px #666666;
        z-index: 1;
      }

      &__text {
        font-size: 1.5em;
        margin: auto;

        sub {
          margin-left: 0.4em;
          font-size: 0.5em;
        }
      }
    }
  }

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 4em;

    &__name {
      width: 90%;
      border: unset;
      border-bottom: 2px solid #c4c4c4;
      cursor: pointer;
      height: 3em;
      background: #dddddd;
    }
  }
}
